# dependencies
node_modules/

# build folders
packages/*/lib/
**/dist/
**/build/
.svelte-kit/

# env vars
.env
.env.local
.env.*.local
.env.keys

# logs
logs/

# files
**/.DS_Store
.idea/

# moon
.moon/cache
.moon/docker
**.tsbuildinfo
.goose
.serena/
